<div class="wrap_container">
  <div class="container">
    <div class="login_form">
      <form>
       <div class="component_wrap">
          <div class="form_name">
            <h2>Đăng nhập</h2>
          </div>

          <div class="form_body">
            <div class="input_obj_area">
              <h5>Tên đăng nhập<span class="star_sign">*</span></h5>
              <input class="input_input" type="text" name="account_name" placeholder="Nhập email" />
            </div>

            <div class="input_obj_area">
              <h5>Mật khẩu</h5>
              <input class="input_input" type="password" name="account_name" placeholder="Nhập mật khẩu" />
            </div>

            <div class="forgot_pass">
              <i class="fal fa-question-circle"></i>
              <a href="">Quên mật khẩu</a>
            </div>

            <div class="capcha_area">
              <div class="checked_capcha">
                <input type="checkbox" name="check_capcha"/>
                <label>Tôi không phải người máy</label>
              </div>
              <div class="recapcha">
                <img src="https://e7.pngegg.com/pngimages/725/252/png-clipart-recaptcha-logo-scalable-graphics-are-you-a-robot-blue-text-thumbnail.png" alt="recapcha" />
              </div>
            </div>

            <div class="input_obj_area">
              <input class="input_input btnsubmit" type="submit" name="login" value="Đăng nhập ngay"/>
            </div>

            <div class="remember_user">
              <input type="checkbox" name="remember"/>
              <label>Ghi nhớ đăng nhập</label>
            </div>
          </div>
       </div>
      </form>
    </div>
  </div>
</div>
